$color-text: hsl(0, 0%, 100%);
$color-add:hsla(0, 0%, 100%, 0.4);
$color-bg:hsl(0, 0%, 7%);
$color-bg-form:hsl(0, 0%, 31%);
$color-border:hsla(0, 0%, 100%, 0.502);
$color-light:hsl(0, 0%, 100%);
$color-hover: hsl(268, 94%, 80%);