.partners {
    padding-top: 11.5rem;
    padding-bottom: 12.2rem;
    width: 100%;
}

.partners__title {
    display: flex;
    column-gap: 5.1rem;
    margin-bottom: 8.9rem;
    align-items: flex-end;    
    //*tablet small
    @media (max-width: 991px) {
      flex-direction: column;
      width: 50%;
      text-align: center;
      margin: 0 auto 5rem;
      row-gap: 3rem;
      .span-element {
        transform: scale(-1, -1);
        margin: 0 auto;
        }
    }     
    //*mobile
    @media (max-width: 767px) {
        width: 60%; 
    }   
}

.partners__cards-1 {
    border-collapse: collapse;    
    //*mobile
    @media (max-width: 767px) {
      display: none;
    }    
}

.partners__cards-2 {
    display: none;    
    //*mobile
    @media (max-width: 767px) {
      display: block; 
      border-collapse: collapse;
    }   
}

.partner__card {
    padding: 2.9rem 6.6rem;    
    //*tablet small
    @media (max-width: 991px) {
        padding: 1.9rem 4.6rem;  
    }    
}

tr {
    border-bottom: 1px solid $color-add;
}

tr:last-child { 
    border-bottom: none; 
}

td {
    border-right: 1px solid $color-add;
}

td:last-child { 
    border-right: none; 
}