.section-description {
    padding-top: 10rem;
    padding-bottom: 10.6rem;
    background: url('../img/description/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.description {
    width: 100%;
}