.logo {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url('../img/logo/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.span-element {
    display: inline-block;
    width: 9rem;
    height: 9rem;
    background: url('../img/logo/element.png') no-repeat;
    background-size: cover;
    background-position: center;
    //*tablet big
    @media (max-width: 1199px) {
        width: 8rem;
        height: 8rem;  
    }
    //*tablet small
    @media (max-width: 991px) {
        width: 7rem;
        height: 7rem; 
    }
    //*mobile
    @media (max-width: 767px) {
        width: 6rem;
        height: 6rem;
    }
    //*mobile xs
    @media (max-width: 575px) {
        width: 6rem;
        height: 6rem;
    }
}